tml, body {
    background-image: url('Scene69.jpg');
	background-size: cover;
	background-repeat: no-repeat;
 	background-attachment: fixed;
    margin: 0;
    background-color: #93ABCF;
    
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('scene3.jpg');
    background-color: #FFF5D0;
    padding: 120px 0; 
    text-align: center;
    
}

.headerviolet h2{
    font-size: 3vw;
    color: #F3F3F2;
    font-family: 'Lugrasimo', cursive;
    text-shadow: 0 0 20px #000000;
    position: relative;
    top: -50px;
    

}

header h1 {
    font-size: 6vw;
    color: #F3F3F2;
    font-family: 'Lugrasimo', cursive;
    text-shadow: 0 0 20px #000000;
}

header img { 
    border-radius: 50%;
    max-width: 400px; /* Responsive image width */
    border: 5px solid #E0E2EB;
    box-shadow: 0 0 20px #93ABCF;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

header img:hover {
    transform: scale(1.1); 
}

.content {
    border-radius: 40px;
    background-color: #dbdbd1;  
    max-width: 1000px;
    margin: 65px auto;
    padding: 0 1%;
    box-shadow: 0 0 40px #000000;
}

.content img.Violeta{
    border-radius: 20px;
    width: 90%;
    margin-left:50px;
    border: 3px solid #93ABCF;
    box-shadow: 5px 15px 15px;
}

.content h2 {
    text-shadow: 0 0 20px #A076F9;
    font-family: Poppins, sans-serif;
}


.content p.cap3on {
    font-size: 16px;
    color: #333333;
    font-style: italic;
}

ul, ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    text-align: left;
    font-family: 'Rubik', sans-serif;
    font-size: large;
    color: #333333;
    padding: 5px;
}

    .character-list {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center; /* Center the content horizontally within the list */
    }

    .character-list li {
        display: inline-block;
        margin-right: 50px;
        text-align: center; /* Center the content horizontally within the list items */
    }

    a img {
        width: 200px;
        height: auto;
        border-radius: 50%;
        border: 5px solid #93ABCF;
        display: block; /* Center the image horizontally within the link */
        margin: 0 auto; /* Center the image vertically within the link */
        transition: transform 0.3s, border 0.3s, background 0.3s;
        
    }

a {
    color: #970f0f;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}


a:hover img {
    transform: rotate(360deg); 
    border: 5px solid #A076F9; 
    
}

h2 {
    font-size: 35px;
    padding: 3px;
    font-family: 'Rubik', sans-serif;
    color: #333333;
}

p, li {
    font-size: 20px;
    padding: 3px;
    font-family: 'Rubik', sans-serif;
    color: #333333;
}

.cap3on {
    text-align: center;
}

footer {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dbdbd1;
    box-shadow: 0 0 40px #000000;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin: 0 5px;
}


@media (max-width: 768px) {
    header h1 {
        font-size: 8vw;
    }

    header img {
        max-width: 80%;
    }

    .content {
        padding: 0 10%;
    }
}

.intro-animation {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    animation: fadeOut 4s forwards, enableScroll 4s forwards;
    pointer-events: none;
}

.intro-text {
    color: #A076F9;
    font-size: 4rem;
    font-family: 'Lugrasimo', cursive;
    text-shadow: 0 0 15px #dbdbd1;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Keyframes to enable scrolling after animation */
@keyframes enableScroll {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: auto; /* Enable scrolling */
    }
}
